# Data Exploration

Python initialisiern

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

### Laden der Daten

In [3]:
df_raw = pd.read_csv('ptbxl_database.csv')
df_raw.head()

,Unnamed: 0,ecg_id,patient_id,age,sex,height,weight,nurse,site,device,...,validated_by_human,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr
0,0,1,15709.0,56.0,1,NaN,63.0,2.0,0.0,CS-12 E,...,True,NaN,", I-V1,",NaN,NaN,NaN,NaN,3,records100/00000/00001_lr,records500/00000/00001_hr
1,1,2,13243.0,19.0,0,NaN,70.0,2.0,0.0,CS-12 E,...,True,NaN,NaN,NaN,NaN,NaN,NaN,2,records100/00000/00002_lr,records500/00000/00002_hr
2,2,3,20372.0,37.0,1,NaN,69.0,2.0,0.0,CS-12 E,...,True,NaN,NaN,NaN,NaN,NaN,NaN,5,records100/00000/00003_lr,records500/00000/00003_hr
3,3,4,17014.0,24.0,0,NaN,82.0,2.0,0.0,CS-12 E,...,True,", II,III,AVF",NaN,NaN,NaN,NaN,NaN,3,records100/00000/00004_lr,records500/00000/00004_hr
4,4,5,17448.0,19.0,1,NaN,70.0,2.0,0.0,CS-12 E,...,True,", III,AVR,AVF",NaN,NaN,NaN,NaN,NaN,4,records100/00000/00005_lr,records500/00000/00005_hr